pkgbase = sable-next-nightly-bin
	pkgdesc = A from-scratch rewrite of Sable, with Svelte and Rust.
	pkgver = 0.0.2_nightly.260930135041.382030605cda
	pkgrel = 1
	url = https://git.sable.moe/SableClient/sable-next
	install = sable-next-nightly-bin.install
	arch = x86_64
	license = AGPL-3.0-or-later
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libcups
	depends = libdrm
	depends = mesa
	depends = libxkbcommon
	depends = libxss
	depends = libxcomposite
	depends = libxdamage
	depends = libxrandr
	depends = at-spi2-core
	depends = dbus
	depends = libayatana-appindicator
	depends = hicolor-icon-theme
	depends = desktop-file-utils
	depends = xdg-utils
	provides = sable-next
	conflicts = sable-next
	conflicts = sable-next-nightly
	options = !strip
	options = !debug
	source_x86_64 = sable-next-0.0.2-nightly.260930135041.382030605cda.AppImage::https://git.sable.moe/SableClient/sable-next/releases/download/nightly-0.0.2-nightly.260930135041.382030605cda/sable-next-0.0.2-nightly.260930135041.382030605cda-linux-x86_64.AppImage
	sha256sums_x86_64 = SKIP

pkgname = sable-next-nightly-bin
